body {
    background-color: black;
    margin: 0px;
}

.imageholder {
    width: 100%;
    position: absolute;
    z-index: -999;
}

.bgimg {
    background-image: url("../images/player.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
}

.topgrad {
    width: 100%;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(black, transparent);
    z-index: 1;
    top: 0;
}

.bottomgrad {
    width: 100%;
    height: 400px;
    position: absolute;
    background-image: linear-gradient(transparent, black);
    z-index: 1;
    bottom: 0;
}

#container {
    width: 75%;
    max-width: 1200px;
    min-width: 850px;
    margin: auto;
}

header {
    width: 100%;
    height: 75px;
}

header h2 {
    float: left;
}

header .navbar {
    float: right;
}

.navbar .link {
    display: block;
    float: left;
    text-align: center;
    line-height: 75px;
    margin: 0 15px;
}

.navbar .link a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
}

.content {
    width: 100%;
    position: relative;
}
